:root {
    --main-heading-font-color: #003016;
    --normal-font-color:#333333;
    --sub-heading-font-color:#004D23;
    --border-bottom-color: #F08080;
    --carousel-nav-color:#996633;
    --top-navbar-color:#00853d;
    --navbar-background-color:#e1ffdd;
    --navbar-font-color:#4eb47c;
    --generation-background-color:#ede1d1;
    --card-border-color: #00ff75;
    --card-background-color:#f4fff3;
    --pagination-background-color:#dcffd8;
    --contact-card-bg-color:#fff5e1
}

body{
  font-family: "Hahmlet", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

h1{
    font-size:55px;
}

h2{
    font-size: 50px;
}

h3{
    font-size: 45px;
}

h4{
    font-size: 40px;
}

h5{
    font-size: 35px;
}

h6{
    font-size: 30px;
}

p{
    font-size: 18px;
    line-height: 1.5;
    color: var(--normal-font-color);
}

.common-section-padding{
    padding-top: 75px;
    padding-bottom: 75px;
}

.main-heading {
    color: var(--main-heading-font-color) !important; /* Fixed typo here */
}

.sub-heading{
    font-size: 18px;
    color: var(--sub-heading-font-color) !important;
}

.main-heading::after {
    content: "";
    display: block;
    width: 25%;
    height: 2px;
    background-color: var(--border-bottom-color);
}



.a-link{
    color: var(--sub-heading-font-color);
}

.a-link:hover{
    color: var(--main-heading-font-color);
}

.border-top-left{
    border-top-left-radius: 2rem;
}
.border-top-right{
    border-top-right-radius: 2rem;
}

.border-bottom-right{
    border-bottom-right-radius: 2rem;
}

.border-botom-left{
    border-bottom-left-radius: 2rem;
}

/* navbar */
#top-nav{
    background-color: var(--top-navbar-color);
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.sticky + .content {
    padding-top: 20px;
}

.navbar {
  background-color: var(--navbar-background-color);
}

.navbar-light .navbar-nav .nav-link {
    color: var(--navbar-font-color);
}

.navbar-light .navbar-nav .nav-link:hover {
    color: var(--sub-heading-font-color);
}

.nav-active{
    border-bottom: 2px solid var(--navbar-font-color);
    color: var(--sub-heading-font-color) !important;
}


/* carousel css */
.carousel-caption {
    bottom: 40%;
    text-align: left;
    left: 8%;

}

.carousel-control-prev {
    width: 5%;
}

.carousel-control-next {
    width: 5%;
}

.carousel-indicators {
    justify-content: right;
    margin-right: 8%;

}

.carousel-indicators [data-bs-target] {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 12px !important;
    height: 12px !important;
    border-radius: 50%;
}

/* home about section */
#home-about-sec{
    background-image: url(../img/home\ about\ sec.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#home-tea-sec , #gallery-sec{
    background-image: url(../img/home-our-tea-sec.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Specific margin styles for different sections */
#home-tea-sec  .main-heading::after {
    margin: 20px auto 0 ;
}

#vission-mission-sec .main-heading::after,
#chair-person-sec .main-heading::after,
#our-history .main-heading::after,
#our-process .main-heading::after,
#home-about-sec .main-heading::after {
    margin: 20px 0 0 0;
}

#testimonial-sec .main-heading::after , 
#our-cerificate-sec .main-heading::after,
#our-product-sec .main-heading::after,
#gallery-sec .main-heading::after{
    margin: 20px auto 0 ;
}

.text-inner-topic{
    font-size: 26px;
    color: var(--border-bottom-color);
}

.carousel-item-name{
    font-size: 26px;
    color: var(--normal-font-color);
}

#testimonial-sec .owl-nav,
#our-product-sec .owl-nav,
#our-cerificate-sec .owl-nav {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

#testimonial-sec .owl-nav .owl-prev,
#testimonial-sec .owl-nav .owl-next,
#our-product-sec .owl-nav .owl-prev,
#our-cerificate-sec .owl-nav .owl-prev,
#our-product-sec .owl-nav .owl-next,
#our-cerificate-sec .owl-nav .owl-next {
    position: relative;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#testimonial-sec .owl-nav [class*=owl-]:hover,
#our-product-sec .owl-theme .owl-nav [class*=owl-]:hover,
#our-cerificate-sec .owl-theme .owl-nav [class*=owl-]:hover {
    background: none !important;
    color: black;
}

#our-product-sec .owl-nav .owl-prev,
#testimonial-sec .owl-nav .owl-prev,
#our-cerificate-sec .owl-nav .owl-prev {
    left: -100px; 
}


#our-product-sec .owl-nav .owl-next,
#testimonial-sec .owl-nav .owl-next,
#our-cerificate-sec .owl-nav .owl-next {
    right: -100px; 
}

#testimonial-sec .owl-nav button span,
#our-product-sec .owl-nav button span,
#our-cerificate-sec .owl-nav button span {
    font-size: 35px;
    line-height: 1;
    color: var(--carousel-nav-color);
}

#testimonial-sec .owl-nav,
#our-product-sec .owl-nav,
#our-cerificate-sec .owl-nav {
    top: 40%;
}


#our-product-sec .owl-theme .owl-dots .owl-dot span {
    width: 20px;
    height: 20px;
    background: none;
    border: 2px solid var(--border-bottom-color);

}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: var(--border-bottom-color);
}

#our-cerificate-sec{
    background-image: url(../img/home-certificate-sec.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.testimonial-name{
    color: var(--main-heading-font-color) !important; /* Fixed typo here */
}

.testimonial-detail{
    position: relative;
}

.testimonial-date{
    position: absolute;
    bottom: -10px;
    right: 0;
}

/* banner-section */
#main-banner-section {
    position: relative;
    text-align: center;
}

#main-banner-section img {
    width: 100%;
    height: auto;
}

#main-banner-section h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-weight: bold;
}

/* our-history */

.history-img-wrapper {
    position: relative;
    width: 100%; 
    display: flex;
    justify-content: center; 
  }

  .rectangle-img {
    position: relative; 
    max-width: 100%;
    z-index: 1;
 
  }

  .our-history-image{
    position: absolute;
    z-index: 2;
    top: 85px;
  }

  #our-history-sec-two{
    background-color: var(--generation-background-color);
  }

  #vission-mission-sec{
    background-image: url(../img/home-our-tea-sec.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  /* process */
  .process-card{
    border: 2px solid var(--card-border-color);
    background-color: var(--card-background-color);
  }

  .page-link {
    color: var(--top-navbar-color) !important;
}

.page-link:hover {
    background-color: #dcffd8;
    border-color: #dcffd8;
}

.page-link {
    border: none !important;
    box-shadow: 0px 0px 3px #00000014;
}

.page-link:focus {
    color: var(--top-navbar-color) !important;
    background-color: var(--pagination-background-color);
    box-shadow: none;
}

.modal-body {
    padding: 0;
}

.contact-card{
    background-color: var(--contact-card-bg-color);
}

.form-control {
    line-height: 2;
    background-color: var(--card-background-color);
    border: 2px solid var(--pagination-background-color);
}

.form-control:focus {
    background-color: var(--card-background-color);
    border: 2px solid var(--pagination-background-color);
    box-shadow: none;
}


.form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--sub-heading-font-color);
    opacity: 1; 
    font-weight: 600;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.contact-btn{
    background-color: var(--top-navbar-color);
}

#map {
    height: 400px;
    width: 100%;
  }